<!DOCTYPE html>
<html lang="en" >

<head>
    <link href="http://icons.iconarchive.com/icons/dtafalonso/modern-xp/32/ModernXP-73-Globe-icon.png" rel="icon" type="image/x-icon" />
  <meta charset="UTF-8">
  <title>Nature</title>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

      <link rel="stylesheet" href="cssjs/css/style.css">
</head>
<body>

  <p>Today, I am </p>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div class="container">
      <div id="display"></div>
      <div id="content">
        <p id="quote">  purchaing appropriate reusable container instead of plastics.</p>
      </div>
    </div>
    <div id="b-nav">
      <ul>
          <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=%23myEarth%20Today%20i%20am%20%20purchaing%20appropriate%20reusable%20container%20instead%20of%20plastics%20%23trendzingo%20www.trendzingo.com"><i class="fa fa-twitter " aria-hidden="true"></i></a>
        <button id="gen" onclick="genQuote()">My Karma</button>
        <a class="fb-share-button"  target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftwitter.com&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa fa-facebook-square " aria-hidden="true" style="padding-left:10px" ></i></a>

        <!-- <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true">
        </div> -->
      </ul>
    </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="cssjs/js/script.js"></script>

</body>
</html>
