<!DOCTYPE html>
<html lang="en" >

<head>
    {% load static %}
  <link href="http://icons.iconarchive.com/icons/dtafalonso/modern-xp/32/ModernXP-73-Globe-icon.png" rel="icon" type="image/x-icon" />
  <meta charset="UTF-8"/>
  <title>Nature</title>
  <meta name="og:url"               content="http://www.trendzingo.com" />
  <meta property="og:type"          content="Website"/>
  <meta property="fb:app_id"        content="194295747866134" />
  <meta property="og:title"         content="Nature's 911 call" />
  <meta name="description"          content="confess to all what you will do today to protect our beautiful Nature." />
  <meta property="og:site_name"     content="Trendzingo"/>
  <meta property="og:image"         content="https://pre00.deviantart.net/e2d8/th/pre/i/2017/333/1/9/earth_minimalist_by_zenzeii-dbrr59j.png"/>
  <meta property="og:image:width"   content="410"/>
  <meta property="og:image:height"  content="410"/>
  <meta name="viewport"             content="width=device-width, initial-scale=1"/>


  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{{ request.build_absolute_uri | slice:":-1" }}{% static 'cssjs/css/style.css' %}">
</head>
  <body>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <p id="today" style="font-family:verdana"; >Today, I am </p>
    <body>
      <div class="container">
      <div id="display">
      </div>
      <div id="content">
        <p id="quote" style="font-family:verdana";> {{ quote.quote_text }} </p>
      </div>
    </div>
    <div id="b-nav">
      <ul>
          <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=%23myEarth%20today%20i%20am%20cleaning%20up%20a%20local%20natural%20resource%20%23trendzingo%20www.trendzingo.com"><i class="fa fa-twitter " aria-hidden="true"></i></a>
        <button id="gen" onclick="genQuote()">My Karma</button>
        <a class="fb-share-button"  target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.trendzingo.com&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa fa-facebook-square " aria-hidden="true" style="padding-left:10px" ></i></a>

        <!-- <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true">
        </div> -->
      </ul>
    </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="{{ request.build_absolute_uri | slice:":-1" }}{% static 'cssjs/js/script.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96172987-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-96172987-3');
</script>

</body>
</html>
