<!DOCTYPE html>
<html lang="en" >

<head>
    {% load static %}
    <link href="http://icons.iconarchive.com/icons/dtafalonso/modern-xp/32/ModernXP-73-Globe-icon.png" rel="icon" type="image/x-icon" />
  <meta charset="UTF-8">
  <title>Nature</title>
  <meta name="og:url"           content="https://www.trendzingo.com" />
  <meta property="og:type"          content="Website" />
  <meta property="og:title"         content="Nature's 911 call" />
  <meta name="description"   content="confess to all what you will sacrifice today to protect our beautiful Nature" />
  <meta property="og:site_name" content="Trendzingo">
  <meta property="og:image:secure_url" content="https://pre00.deviantart.net/e2d8/th/pre/i/2017/333/1/9/earth_minimalist_by_zenzeii-dbrr59j.png">
  <meta property="og:image:width" content="410">
  <meta property="og:image:height" content="410">

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

      <link rel="stylesheet" href="{% static 'cssjs/css/style.css' %}">
</head>
<body>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <p id="today" style="font-family:verdana"; >Today, I am </p>
  <body>
    <div class="container">
      <div id="display"></div>
      <div id="content">
        <p id="quote" style="font-family:verdana";> walking for 15 min extra </p>
      </div>
    </div>
    <div id="b-nav">
      <ul>
          <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=%23myEarth%20the%20people%20who%20are%20crazy%20enough%20to%20think%20they%20can%20change%20the%20world%20are%20the%20ones%20who%20do.%20-%20Steve%20Jobs"><i class="fa fa-twitter " aria-hidden="true"></i></a>
        <button id="gen" onclick="genQuote()">My Karma</button>
        <a class="fb-share-button"  target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftrendzingo.com&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa fa-facebook-square " aria-hidden="true" style="padding-left:10px" ></i></a>

        <!-- <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true">
        </div> -->
      </ul>
    </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="{% static 'cssjs/js/script.js' %}"></script>

</body>
</html>
